<!-- TODO: Implement friendship module -->
@model IEnumerable<ChatManager.Models.User>

@foreach (ChatManager.Models.User ami in Model)
{
    string selected = "unselectedTarget";
    if (Session["currentChattedId"] != null)
    {
        if (ami.Id == (int)Session["currentChattedId"]) {
            selected = "selectedTarget";
        }
    }
    string img = "/Images_Data/User_Avatars/" + ami.Avatar + ".Jpeg";
    <div class='@selected' userid='@ami.Id'>
        <div class='UserSmallAvatar' title='@ami.GetFullName()'
             style='background: url(@img)'>
        </div>
    </div>
}